* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212a31;
  font-size: 14px;
}

h1 {
  line-height: 120%;
  font-size: 34px;
  margin-bottom: 0.75rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
